

<div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="netflixLogo">
        <a id="logo" href="#home"><img
            src="./assets/img/logo-grupoAutomax.jpg" alt="Logo Image"></a>
      </div>
      <nav class="main-nav">
        <a href="#home">Fastback</a>
        <a href="#tvShows">Pulse</a>
        <a href="#movies">Toro</a>
        <a href="#originals">Argo</a>
        <a href="#">Cronos</a>
        <a href="/contato"></a>


      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
      </nav>
    </header>
    <!-- END OF HEADER -->